.animation.ng-enter {
 	transition: 0.5s ease-out all;
 	opacity: 0;
 	box-shadow: 0 0 10px rgba(0,255,0,0.5);
 	background-color: #7A7; 
}

.animation.ng-enter.ng-enter-active {
 	opacity: 1;
}

.animation.ng-leave {
 	transition: 0.5s ease-out all;
	opacity: 1;
	box-shadow: 0 0 10px rgba(255,0,0,0.5);
 	background-color: #A77; 
}
.animation.ng-leave.ng-leave-active {
	opacity: 0;
}