.page {
	height: 100%;
	background-color: #EEE;
	overflow: hidden;

	&__header {
		height: 10%;
		min-height: 50px;
	}

	&__content {
		height: 90%;
	}
}

.header {
	background-color: #333;
	height: 100%;
	box-sizing: border-box;
	border-style: solid;
	border-color: #111;
	border-width: 0 0 4px 0;
	display: table;
	width: 100%;
	padding: 0 30px;
	font-family: ProximaNovaCond, Arial, sans-serif; 
	font-size: 30px;
	font-weight: 700;
	color: #FFF;

	&__text {
		display: table-cell;
		vertical-align: middle;		
	}

	&__button {
		display: table-cell;
		vertical-align: middle;
	}

}


.button {
	margin: 0 0 0 auto;
	background-color: #777;
	border-style: solid;
	border-color: #FFF;
	border-radius: 20px;
	border-width: 3px;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;	
	cursor: pointer;
	user-select: none;

	&:active {
		border-color: #333;
		color: #333;	
	}

	&--back-ref {
		display: block;
		text-decoration: none;

		&:link {
			color: #FFF;
		}

		&:visited {
			color: #FFF;
		}
	}

	&__label {
		border: 7px solid transparent;	
		border-right: 15px solid #FFF;
		position: relative;
		right: 9px;
		bottom: -7px;
	}

	&--save {
		margin: 0;
		width: 100px;
	}
}

.content {
	max-height: 100%;
	overflow: auto;

	&__list {
		height: 100%;
		padding: 2% 5%;
	}
}

.list {
	height: 100%;

	&__item {
		color: #FFF;
		height: 55px;
		line-height: 55px;
		background-color: #888;
		border-style: solid;
		border-color: #666;
		border-width: 1px;
		border-radius: 10px;
		margin-bottom: 15px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);

		&:nth-child(odd) {
			background-color: #666;	
		}
	}

	&__description {
		color: #FFF;
		height: 100%;
		border-color: #666;
		border-width: 1px;
		border-radius: 10px;
		margin-bottom: 15px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		background-color: #888;
		border-style: solid;
	}


}

.item {
	box-sizing: border-box;
	
	&__text {
		display: inline-block;
	}

	&__checkbox {
		margin: 0 15px;
		display: inline-block;
		transform: scale(2);
	}

	&__buttons {
		display: inline-block;
		text-align: right;
		float: right;
		margin-right: 3%;
	}

	&__button {
		font-family: ProximaNovaCond, Arial, sans-serif; 
		font-size: 30px;
		font-weight: 700;
		background-color: #777;
		border-style: solid;
		border-color: #FFF;
		border-radius: 20px;
		border-width: 3px;
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 25px;	
		cursor: pointer;
		user-select: none;
		display: inline-block;

		&:active {
			border-color: #333;
			color: #333;	
		}

		&--link {
			text-decoration: none;

			&:link {
				color: #FFF;
			}

			&:visited {
				color: #FFF;
			}
		}

	}

	&__form {
		width: 95%;
		height: 100%;
		margin: 0 5%;
	}

}

.form {

	&__title {
		display: block;
		box-sizing: border-box;
		width: 95%;
		margin: 10px 0;
		height:  30px;
		font: inherit;
		padding: 0 20px;
		background-color: #888;
		color: #FFF;
		outline: none;
		border: none;
		text-align: center;
	}

	&__description {
		display: block;
		box-sizing: border-box;
		width: 95%;
		height: 250px;
		resize: none;
		font: inherit;
		background-color: #888;
		color: #FFF;
		outline: none;
		border: none;
	}

	&__line {
		margin: 0;
		padding: 0;
		width: 95%;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
}